<<<<<<< HEAD:templates/search.html.twig
{% extends 'base.html.twig' %}
=======
{% extends 'index.html.twig' %}
>>>>>>> fix php version, add information for stat project:templates/template-path/search.html.twig

{% block title %} Search result page {% endblock %}

{% block main %}
    <p>Search result block</p>
        Is that what you want?
        <p>{{ word }}</p>
{% endblock %}
