<<<<<<< HEAD
<<<<<<< HEAD:templates/search.html.twig
{% extends 'base.html.twig' %}
=======
{% extends 'index.html.twig' %}
>>>>>>> fix php version, add information for stat project:templates/template-path/search.html.twig

{% block title %} Search result page {% endblock %}

{% block main %}
    <p>Search result block</p>
        Is that what you want?
        <p>{{ word }}</p>
=======
{% extends 'index.html.twig' %}

{% block search %}
    <p>Search block</p>
>>>>>>> aab6cbe89436e2ac130a1f2f361e2bc512e9acf0
{% endblock %}
